body {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}
li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(198, 198, 198);
  border-radius: 20px;
}
.form input {
  margin-right: 20px;
  margin-left: 10px;
  padding: 10px;
}

.submitBtn {
  border: none;
  background-color: rgb(29, 151, 64);
  cursor: pointer;
  color: white;
  padding: 5px 40px;
  border-radius: 20px;
}
.submitBtn:hover {
  background-color: rgb(13, 63, 27);
}

article {
  margin: 10px;
}
.cardBox {
  display: flex;
  justify-content: flex-start;
}
.todoCard {
  max-width: 200px;
  min-width: 200px;
  border: 2px solid rgb(21, 103, 45);
  border-radius: 20px;
  padding: 30px;
  position: relative;
  margin-right: 10px;
}
.todoCard div {
  position: absolute;
  bottom: 15px;
}
.todoCard button {
  background-color: white;
  cursor: pointer;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}
.cancelBtn {
  border: 2px solid red;
}
.cancelBtn:hover {
  border: 2px solid red;
  background-color: red;
  color: white;
}
.toggleBtn {
  border: 2px solid green;
}
.toggleBtn:hover {
  border: 2px solid green;
  background-color: green;
  color: white;
}
